.gitattributes export-ignore
.gitignore export-ignore

# Don't include these directories in the GitHub generated zip files
# This is to reduce the Composer download size
config export-ignore
test export-ignore
